<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.cacher.mapper.HotelExtendInfoMapper">
    <select id="getHotelExtendInfoById" parameterType="java.lang.Integer" resultMap="hotelExtendInfoMap">
        select * from hotel_extend_info where id =#{id}
    </select>
    <resultMap id="hotelExtendInfoMap" type="com.jd.cacher.entity.HotelExtendInfo">
        <id property="id" column="id"/>
        <result property="tableName" column="table_name"/>
        <result property="columnName" column="columnName"/>
        <result property="memo" column="memo"/>
        <result property="status" column="status"/>
        <result property="created" column="created"/>
        <result property="modified" column="modified"/>
    </resultMap>
</mapper>